.navContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.menuContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
	z-index: 999;
}
.link {
	cursor: pointer;
}
